/* Cuadrícula formulario */
table, tr, td {
    border: 5px ridge white;
    padding: 10px;
    border-collapse: collapse;
}

table {
    width: 100%;
    table-layout: fixed; 
}

td, th {
    width: 50%;
    text-align: left;
}

form {
    width: 100%; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea, 
select {
    width: 100%; 
    padding: 10px; 
    font-size: 1rem; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

textarea {
    resize: vertical; 
    min-height: 100px; 
}
