/* Estilos específicos para página index */
/* Estilo para las semanas */
.weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}

.week {
    background-color: #F5EBE0;
    border: 1px solid #D6CCC2;
    border-radius: 8px;
    padding: 1rem;
    flex: 0 0 48%;
    box-shadow: 0 4px 8px rgba(213, 189, 175, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.week:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(213, 189, 175, 0.3);
}

.week h3 {
    color: #8B7D6B;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.week ul {
    list-style-type: disc;
    margin: 0 0 0 1.5rem;
    text-align: left;
}

/* Mejora de responsividad */
@media (max-width: 768px) {
    .weeks {
        flex-direction: column; /* Tarjetas apiladas en pantallas pequeñas */
        gap: 1rem;
    }
    
    .week {
        max-width: 100%;
        flex: 1 1 100%;
        margin-bottom: 1rem;
    }
    
    .content {
        width: 90%;
    }
}
