.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 16px;
    padding: 20px;
    max-width: 900px; /* Limita el ancho total */
    margin: 0 auto; /* Centrar el grid en la página */
    
}

.usuario {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%; /* Ocupa toda la celda de la grid */
    max-width: 550px; /* Aumenta el ancho máximo de las tarjetas */
    height: 450px;
    max-height: 450px;
    margin: auto; /* Centrar si son menos de 3 */
}

.usuario ul {
    list-style: none; /* Elimina los puntos de la lista */
}

.usuario li {
    margin: 10px 0; /* Espaciado entre los elementos de la lista */
    font-size: 1.2em;
    color: #333;
}


.usuario h2 {
    margin: 0 0 15px;
    color: brown;
    font-size: 1.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.usuario p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.usuario p strong {
    color: brown;
}

a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-top: 32px;
}
